.main {
    width: 600px;
    height: 550px;
    background-image: url("light-green-yellow-blur-background-vector.jpg");
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 200px;
    border-radius: 40px;
}
button {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 4px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 300px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-image: url("download.jpg");
   
}
#result {
    font-size: 25px;
    color: black;
    margin-top: 20px;
}